* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-image: linear-gradient( to bottom right, #ff4500,#fd9b29 );
    text-align: center;
    margin: auto;
    max-width: 100%;
    line-height: 1.5;
}
body {
    color: white;
    background: radial-gradient(circle, #000000, #0e0e0e, #1c1c1c, #2a2a2a, #383838);
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    text-align: center;
    padding:10px;
    font-weight: bold;
    
}
.texpic {
    display: flex;
    align-items: center; 
}
.list {
    margin-top: 50px;
    margin-left:30px;
    flex:1;
    margin-right: 20px;
}

.pic img {
    margin-top: 50px;
    margin-right:20px;
    width: 550px;
    height: 350px;
}
ul {
    font-size: 17px;
    line-height: 2.2;
}
#p1{
    margin-top:40px;
    margin-left:30px;
    font-size:20px;
    line-height:1.8;
}

#p2 {
    margin-top: 40px;
    margin-left: 30px;
    font-size: 20px;
    line-height: 1.8;

}
#p2{
    margin-bottom:40px;
}
    #p2 a {
        margin-left: 60px;
        color: #ff4500;
        font-size:21px;
    }
    #p2 a :hover{
        background-color:ivory;
        border-radius:5px;
        padding:5px;
    }
footer {
    height: 45px;
    background-image: linear-gradient( to bottom right, #ff4500,#fd9b29 );
    text-align:center;
    font-size:20px;
    padding:15px;
}
label {
    font-style: bold;
    display: block;
    font-size: 35px;

}
.form{
    margin-left:1230px;
    margin-bottom:80px;
}
input[type="text"],
input[type="password"], input[type="email"] {
    width: 200px; 
    height: 21px; 
    padding: 5px; 
    margin-bottom: 10px;
}
input[type="submit"] {
    width: 100px;
    height: 30px;
    background-color:#ff4500; 
    color:  ivory;
    border: none;
    cursor: pointer;
    margin-left:20px
}
